.songButton {
    background-color: transparent !important;
    cursor: pointer;
}

.songButton:hover {
    background-color: #e5e7eb; 
}

.buttonOverlay:hover {
    background-color: #dddddd !important; 
}  

.buttonOverlay {
    transition: background-color 0.2s ease-in-out;
}