.controlbox {
    position: absolute;
    top: 90vh;
    width: 100vw;
}

.closebutton {
    cursor: pointer;
    position: absolute;
    left: 88vw;
}

.heatmapslider {
    position: absolute;
    left: 25vw;
    width: 60vw;
    top: 0vh;
}

.timemarks {
    position: absolute;
    left: 22vw;
    width: 66vw;
    top: 4vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

