.controlbox {
    position: absolute;
    top: 90vh;
    width: 100vw;
}

.closebutton {
    cursor: pointer;
    position: absolute;
    left: 86vw;
    color:#330033;
    background-color: #e0a7bb;
    opacity: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 4px;
    
}

.heatmapslider {
    position: absolute;
    left: 22vw;
    width: 60vw;
    top: 0vh;

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #8b8b8b; 
    opacity: 0.99; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;  
    outline-color:#361836;
}

.heatmapslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 25px; 
    border-radius: 5px;
    background: #361836;
    cursor: pointer; 
}



.timemarks {
    position: absolute;
    left: 19vw;
    width: 66vw;
    top: 4vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

.timemarks span{
    color:white;
    background-color: grey;
    opacity: 80%
}

