.smhbox-content {
    max-height: 500px;
    overflow: scroll;
    text-align:left;
    display: block;
}

.songbutton {
    background-color: transparent;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.songbutton:hover {
    background-color: #ccacac;
}

.authbutton {
    background-color: transparent;
}