.taskbar .search-container {
  display: flex;
  justify-content: center;

}

.taskbar .logo-button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.taskbar .logo-image {
  height: 40px;
}


.taskbar .compare-button {
  background-color: #e0a7bb;
  padding: 4px;

}
.taskbar .compare {
  height: 100%;
  font-size: 10px;
  background-color: #e0a7bb;
  color: #330033; 
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out;
  min-width: 6rem; 
  width: max-content; 
  max-width: 100%; 
  padding: 4px 8px;
  text-align: center;
  white-space: nowrap; 
  border-radius: 6px;
}

.compare:hover {
  background-color: #e5e7eb; 
}

.help-button{
  padding-left: 15px;
  background-color: transparent;
}
.help-button:hover{
  cursor: pointer;
}